body {
  display: grid;
  place-items: center;
}

#meme-image-container {
  background-color: white;
  width: 400px;
  height: 300px;
}

#meme-text {
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-shadow: black 5px 5px 5px;
  word-wrap: break-word;
  max-width: 350px;
  margin-top: 180px;
  margin-left: 20px;
  text-align: center;
}

#meme-image {
  width: 400px;
  height: 300px;
}

.border-default {
  border: 1px solid black;
}

.border-fire {
  border: 3px dashed rgb(255, 0, 0);
}

.border-water {
  border: 5px double rgb(0, 0, 255);
}

.border-earth {
  border: 6px groove rgb(0, 128, 0);
}

#fire {
  background-color: rgb(255, 0, 0);
}

#water {
  background-color: rgb(0, 0, 255);
}

#earth {
  background-color: rgb(0, 128, 0);
}
