body {
    background-color: rgb(149, 255, 139);
    padding-left: 50px;
}
#fotoupload {
    color: black;
    width: 400px;
    height: 400px;
    border: solid #32a1ce;
    position: relative;
    top: 40px;
    left:10px;

}
#fire {
    position: absolute;
    color: black;
    width: 80px;
    height: 20px;
    left: 500px;
    top: 170px;
    border: solid black;
    
}
#water {
    position: absolute;
    color: black;
    width: 80px;
    height: 20px;
    left: 500px;
    top: 200px;
    border: solid black;
}
#earth {
    position: absolute;
    color: black;
    width: 80px;
    height: 20px;
    left: 500px;
    top: 230px;
    border: solid black;
}

